@import "/reset.css";


html, body {
    height: 100%;
}

body {
    font-family: 'EB Garamond', serif;
    background-color: #FAFAFA;
    color: #050505;
}

div.flexbox-body {
    display: flex;
}

/* top-right language menu */

div.language a {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    position: fixed;
    top: 5vmin;
    right: 5vmin;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 1.25px;
    padding: 4px;
    transition: all .3s;
    color: #050505;
}

div.language a:hover {
    background-color: #050505;
    color: #FAFAFA;
    cursor: pointer;
    padding: 4px;
    border: none;
}


/* nav left side */

div.flexbox-nav {
    height: 34vh;
    margin: 10vmin 0 0 14vmin ;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

h1 {
    font-size: 8vmin;
    font-weight: 500;
}

nav {
    line-height: 1.5;
    font-size: 4vmin;
}

nav div span {
    font-style: italic;
}

nav div span:hover {
    color: #000077;
    cursor: pointer;
    transition: color .3s;
}

h2 {
    font-size: 4vmin;
    font-weight: 500;
}

h1:hover, h2:hover {
    color: #00753B;
    cursor: pointer;
    transition: color .3s;
}

/* content right side */

div.flexbox-content {
    flex: 1;
    display: flex;
    justify-content: left;
}


main {
    margin: 45vmin 0 0 45vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main p {
    font-size: 4vmin;
    line-height: 1.75;
}

main a {
    color: #050505;
    text-decoration: none;
    border-bottom: dotted 1px #050505;
    transition: all .3s;
}

main a:hover {
    color: #000077;
}


div.easter-egg {
    visibility: hidden;
}

div.easter-egg svg {
    position: fixed;
    bottom: 3vmin;
    right: 5vmin;
  }


  div.easter-egg svg {
      fill: #050505;
      transition: all .7s ease-in-out;
      width: 2vmin;
  }

  div.easter-egg svg:hover {
    fill: #00753B;
    cursor: pointer;
    transform: rotate(360deg);
}

div.easter-egg div.img-1 img {
    position: fixed;
    bottom: 10vmin;
    left: 58vmin;
    width: 250px;
}

div.easter-egg div.img-2 img {
    position: fixed;
    bottom: 30vmin;
    right: 15vmin;
    width: 250px;
}

div.easter-egg div.img-3 img {
    position: fixed;
    top: 10vmin;
    left: 100vmin;
    height: 175px;
}

div.easter-egg div.img-4 img {
    position: fixed;
    bottom: 25vmin;
    left: 13vmin;
    width: 150px;
}