@import "/reset.css";


html, body {
    height: 100vh;
}

body {
    font-family: 'EB Garamond', serif;
    background-color: #FAFAFA;
    color: #050505;
}

div.flexbox-body {
    display: flex;
}

/* top-right language menu */

div.language a {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    position: fixed;
    top: 5vmin;
    right: 5vmin;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 1.25px;
    padding: 4px;
    transition: all .3s;
    color: #050505;
}

div.language a:hover {
    background-color: #050505;
    color: #FAFAFA;
    cursor: pointer;
    padding: 4px;
    border: none;
}


/* nav left side */

div.flexbox-nav {
    margin: 10vmin 0 10vmin 0;
    flex: 2;
    height: 34vh;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 8vmin;
    font-weight: 500;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

section {
    line-height: 1.5;
    font-size: 4vmin;
}

section div span {
    font-style: italic;
}

section div span:hover {
    color: #000077;
    cursor: pointer;
    transition: color .3s;
}

h2 a {
    font-size: 4vmin;
    font-weight: 500;
    text-decoration: none;
    color: #050505;
}

h1:hover, h2 a:hover {
    color: #00753B;
    cursor: pointer;
    transition: color .3s;
}

/* content middle */

div.picture {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

div.picture img {
    width: 60vh;
}

/* content right side 

div.flexbox-main {

    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;

}

main {
    display: flex;
}

main div.text {
    margin-bottom: 12vmin;
    padding: 0 0 0 25vmin;
    display: flex;
    flex-direction: column;
}

main p {
    font-size: 4vmin;
    line-height: 1.75;
}

main a {
    color: #050505;
    text-decoration: none;
    border-bottom: dotted 1px #050505;
    transition: all .3s;
}

main a:hover {
    color: #000077;
}

*/